.card {
  margin-left: 0;
  margin-right: 0;
  display: flex;
  flex-direction: column;
  flex-basis: 45%;
  max-width: 600px;
  margin-bottom: 100px;
}

.card__title {
  margin-bottom: 32px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  margin-top: 0;
}

.card__content {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.card__list-item {
  margin-bottom: 16px;
  display: flex;
  justify-content: space-evenly;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 16px;
  line-height: 20px;
  margin-top: 0;
}

.card__list-item:last-child {
  margin-bottom: 0;
}

.card__list-divider {
  flex-grow: 1;
  border-bottom: 1px solid #ffffff;
  min-width: 40px;
}
